<%- include ("../partials/header.ejs") %>

<div class="container">


  <div class="row">
    <div class="col-md-8">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= polaroids.image %>">
        <div class="caption-full">
          <h4><%= polaroids.name %></h4>
          <p><%= polaroids.desc %></p>
          <p><em>Submitted By: <%= user %></em></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 well">
      <% link = encodeURIComponent(polaroids.name.trim()) %>
      <% if (loggedIn !== "") { %>
      <form action="/polaroids/<%= name %>/comments" id="newComment" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="text" placeholder="comment">
          <input type="hidden" name="name" value="<%= name %>" />
          <input type="hidden" name="user" value="<%= loggedIn %>" />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block">Add New Comment</button>
        </div>
      </form>
      <% } else { %>
      <div class="text-right">
        <a href="/" class="btn btn-lg btn-block btn-info">Please login to comment</a>
      </div>
      <% } %>
      <hr>

      <div id="commentsView" class="row">
        <% comment.forEach(comment => { %>
        <div class="col-md-12">
          <strong><%= comment.author %></strong>
          <p><%= comment.text %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include ("../partials/footer.ejs") %>