<%- include ("../partials/header.ejs") %>

<div class="container">


  <div class="row">
    <div class="col-md-8">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= polaroids.image %>">
        <div class="caption-full">
          <h4><%= polaroids.name %></h4>
          <p><%= polaroids.desc %></p>
          <p><em>Submitted By: <%= user %></em></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 well">
      <% link = encodeURIComponent(polaroids.name.trim()) %>
      <div class="text-right">
        <a class="btn btn-success" href="/polaroids/<%= link %>/comments/new">Add New Comment</a>
      </div>
      <hr>
      <% comment.forEach(comment => { %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author %></strong>
          <p><%= comment.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include ("../partials/footer.ejs") %>